//- doctype html
html
    head 
        title AQI Calculator
        link(rel="stylesheet" href="styles.css")
    body
        .header
            //- .navbar
            //-     img.logo(src='logo.png')
            .header-right
             a(href="#home") Home
        .h1 AQI Calculator
        //- .h Concentration to AQI Calculator
        .div
            .p Select region:
            .region1
                input(type='radio' name='region')
                label Punjab AQI
            .region2
                input(type='radio' name='region')
                label US AQI
        
