//- doctype html
html
    head 
        title AQI Calculator
        link(rel="stylesheet" href="styles.css")
    body
        .header
            //- .navbar
            //-     img.logo(src='logo.png')
            .header-right
             a(href="#home") Home
        .h1 AQI Calculator
        //- .h Concentration to AQI Calculator
        .div
            .p Select region:
                .punjabaqi
                    input(type='radio' name='region')
                    label Punjab AQI
                .usaqi
                    input(type='radio' name='region')
                    label US AQI
            .p1 Select Pollutant:
                select
                    option(value="PM10") PM10
            .p2 Unit:
                label1 Unit
            .p3 Enter the Concentration:
                .con
                    input(type="text" size="25")
                .btn
                    button(type="submit") Calculate
                .btn1
                    button(type="reset") Reset
            .p4 AQI:
                .lbl
                    label 0
            .p5 AQI Category
                .cat
                    label NIL